npm-debug.log
node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js
.idea
build/webpack.dev.config.js
/node_modules/
*~
/logs/
/log/
/.idea/
nohup.out
npm-debug.log
build/env.js
mn/*.jpg
